<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD60UX70YWj1CGuPu_Mj_oU1CO8i2eULGo</string>
	<key>GCM_SENDER_ID</key>
	<string>731810484924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bambyno.rpchbooking</string>
	<key>PROJECT_ID</key>
	<string>rpch-booking-49ca9</string>
	<key>STORAGE_BUCKET</key>
	<string>rpch-booking-49ca9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731810484924:ios:436b8e347fe6070ee136b9</string>
</dict>
</plist>